root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 160
tab_width = 4
trim_trailing_whitespace = true

[*.kt]
ij_kotlin_call_parameters_new_line_after_left_paren = false
ij_kotlin_call_parameters_right_paren_on_new_line = false
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_continuation_indent_for_chained_calls = false
ij_kotlin_continuation_indent_for_expression_bodies = false
ij_kotlin_continuation_indent_in_argument_lists = false
ij_kotlin_continuation_indent_in_elvis = false
ij_kotlin_continuation_indent_in_if_conditions = false
ij_kotlin_continuation_indent_in_parameter_lists = false
ij_kotlin_continuation_indent_in_supertype_lists = false
ij_kotlin_field_annotation_wrap = normal
ij_kotlin_keep_blank_lines_before_right_brace = 0
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_keep_blank_lines_in_declarations = 1
ij_kotlin_line_comment_add_space = true
ij_kotlin_line_comment_at_first_column = false
ij_kotlin_method_parameters_right_paren_on_new_line = false

# These are currently broken: https://youtrack.jetbrains.com/issue/KT-35287
# ij_kotlin_name_count_to_use_star_import = 2147483647
# ij_kotlin_name_count_to_use_star_import_for_members = 2147483647

[*.java]
ij_java_class_count_to_use_import_on_demand = 99
ij_java_keep_blank_lines_before_right_brace = 0
ij_java_keep_blank_lines_between_package_declaration_and_header = 1
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_blank_lines_in_declarations = 1
ij_java_line_comment_add_space = true
ij_java_line_comment_at_first_column = false
ij_java_names_count_to_use_import_on_demand = 99

[*.gradle]
ij_continuation_indent_size = 4
ij_groovy_keep_blank_lines_before_right_brace = 0
ij_groovy_keep_blank_lines_in_code = 1
ij_groovy_keep_blank_lines_in_declarations = 1
ij_groovy_line_comment_add_space = true
ij_groovy_line_comment_at_first_column = false

[*.xml]
ij_xml_line_comment_at_first_column = false
ij_xml_use_custom_settings = true

[*.json]
indent_size = 2
