<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.plastique.watch">

    <application android:theme="@style/Theme.App.DayNight">
        <activity
            android:name=".WatcherListActivity"
            android:label="@string/watch_watchers_title" />
    </application>
</manifest>
