<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.plastique.auth">

    <application android:theme="@style/Theme.App.DayNight">
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_title" />
    </application>
</manifest>
