<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.plastique.main">

    <application>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.App.Light.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="darkTheme"
                android:resource="@style/Theme.App.Dark.Main" />
        </activity>
    </application>
</manifest>
