<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.plastique.deviations">

    <application>
        <activity
            android:name=".categories.list.CategoryListActivity"
            android:label="@string/deviations_categories_title" />

        <activity android:name=".info.DeviationInfoActivity" />

        <activity
            android:name=".viewer.DeviationViewerActivity"
            android:label="@string/deviations_viewer_title"
            android:theme="@style/Theme.App.DeviationViewer" />
    </application>
</manifest>
