<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.plastique.gallery">

    <application>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/gallery_title" />

        <activity android:name=".FolderDeviationListActivity" />
    </application>
</manifest>
