<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.plastique">

    <application
        android:name=".DebugPlastiqueApplication"
        tools:replace="name">

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
    </application>

</manifest>
